body {
  background-color: black;
  margin: 0;
  padding: 20px;
}

h2 {
  font-family: "Honk", system-ui;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-family: "Neuton", serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 20px;
  padding: 15px;
  background: linear-gradient(32deg, #03a9f4, #ffeb3b, #f441a5, #03a9f4);
  transition: all 1.5s ease;
  border-radius: 16px;
  box-shadow: 0 8px 16px white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px red;
}

body {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.338), black);
}

li span {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

li:last-child {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

li span:hover {
  backdrop-filter: blur(0px);
  color: #ffffff;
}
